<div id="login-form">

  <p>On your phone or tablet, use the Google Authenticator app to scan the image below and add dual factor authentication to your login.</p>
  
  <p>If you don't have Google Authenticator, you can get it from one of the links below.</p>
  <p>
  <%= link_to "Google Play (Android devices)", "https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" %> |
  <%= link_to "App Store (iOS devices)", "https://itunes.apple.com/en/app/google-authenticator/id388497605?mt=8" %>
  </p>
  
  <%# = image_tag( "tmp/#{@user.two_step_auth.to_qr}" ) %>
  <%= image_tag show_qr_code_path %>
  
  <p>
  When you've scanned the code and the entry has appeared in your Google Authenticator listings,
  enter the code listed there in the box below and verify your installation. 
  </p>
  
  <%= form_for @two_step_auth, url: create_two_step_auth_path do |f| %>
    <%= f.text_field :gauthcode %>
  
    <%= f.submit "Verify" %>
  <% end %>
  <p>
  <%= link_to "I'll do this all later", two_step_auth_path, method: :delete, data: {confirm: "If you press OK you will cancel the set up and 2-factor auth will not be enabled"} %>
  
  </p>


</div>